<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999186704867-6hh1uephrv4g1moh0j56q16d7k9d4v6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999186704867-6hh1uephrv4g1moh0j56q16d7k9d4v6r</string>
	<key>API_KEY</key>
	<string>AIzaSyD2Ddifb8Bl7HaueT4wN1yA9UaK8cLHx1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>999186704867</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.powerOfWords</string>
	<key>PROJECT_ID</key>
	<string>pow-350</string>
	<key>STORAGE_BUCKET</key>
	<string>pow-350.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999186704867:ios:b94d16fda991201017d8d6</string>
	<key>DATABASE_URL</key>
	<string>https://pow-350-default-rtdb.firebaseio.com</string>
</dict>
</plist>